html,
body {
    margin: 0;
    padding: 0;
}

#map {
    height: 98vh;
}

#pannello-comandi {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
}

#pannello-comandi button {
    padding: 8px 14px;
    margin-right: 5px;
}

.pannello-coordinate{
    background: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 0 4px #999;
}

.pannello-legenda{
    background: white;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #999;
    max-height: 250px;
    max-width: 260px;
    overflow: auto;
    font-size: 12px;
}

.voce-legenda{
    margin-top: 8px;
}

.voce-legenda img{
    max-width: 220px;
}
