html,
body {
    margin: 0;
    padding: 0;
}

#map {
    height: 98vh;
}

#pannello-comandi {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
}

#pannello-comandi button {
    padding: 8px 12px;
    margin-right: 5px;
}
